streamlit == 0.68.0
pandas == 1.0.5
fbprophet
plotly
ccxt == 1.30.51
matplotlib
seaborn
numpy
datetime
pyportfolioopt
pytz
https://files.pythonhosted.org/packages/b0/9f/0a16afc87d307140ecf3aa78df3985ee2b3fc67ee883ff53edada022a8aa/ffn-0.3.4.tar.gz
